.THIS .slider {
    width:100%;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
}
.THIS .slider_prev, .THIS .slider_next {
    width:100%;
    display:block;
    position: absolute;
    z-index: 100;
}
.THIS .slide {
  left:0;
}
.THIS .slider_prev {
    left: -110% !important;
}
.THIS .slider_next {
    left: 110% !important;
}