/**
 * Created by admin on 2/26/2018.
 */
.THIS {
        background-color: white;
}

.THIS .heightAjustment {
        margin-top: 27px;
}
.THIS .listViewPulldown {
        margin-bottom: 26px;
        width:300px;
}


/*.THIS body.noscroll{*/
        /*position:fixed;*/
        /*overflow:hidden;*/
        /**/
/*}*/
