/**
 * Created by admin on 4/9/2018.
 */

/*.THIS body{*/

    /*-webkit-overflow-scrolling: touch;*/

/*}*/




.THIS .slds-cell-fixed {
    background-color: transparent;
}


.THIS tbody tr:hover>td {
    background: #d2dce8 !important;
    /*white-space:pre;*/
    /*word-wrap: break-word;*/
    /*overflow-wrap: break-word;*/
    /*width:100% !important;*/
}

.THIS thead tbody tr th td {
    /*display:inline-block;*/
    /*margin:auto;*/
    /*white-space:pre;*/
    /*word-wrap: break-word;*/
    /*overflow-wrap: break-word;*/
    /*width:100% !important;*/
}


/*.THIS .slds-table--header-fixed_container.cIcDataGrid {*/
    /*background-color: #014991 !important;*/
/*}*/

.THIS .dataGridHeaderText {
    color: white;
    margin-left:5px;
    font-family: 'Open Sans', sans-serif;
    /*font-size: 7px;*/
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 7px !important;


}

.THIS body.noscroll{
    position:fixed;
    overflow:hidden;
}


/*.THIS .sWrap {*/
    /*height:200px;*/
    /*width:100%;*/
/*}*/


.THIS th td  {
    margin-right:5px;
}

.THIS .headerBackground {
    /*background-color:#014991;*/
    background-color:red;
}

.THIS .tableBody {
    font-size:10px;
}

/*.THIS table {*/
    /*table-layout: auto;*/
    /*!*width: 1024px;*!*/
    /*font-size:10px;*/
    /*!*max-width:1024px;*!*/

/*}*/

/*.THIS .tableLayout {*/
    /*table-layout: auto;*/
    /*!*width: 1024px;*!*/
    /*!*max-width:1024px;*!*/

/*}*/

.THIS .gridTextMarginTop {
    margin-top: 1em !important;
    font-size:7px;
}

/*.THIS .headerAbsolutePosition {*/
    /*position:absolute;*/
    /*top:35px;*/
/*}*/


/*.THIS div.bodyNoScroll{*/
    /*position: absolute;*/
    /*right: 0;*/
/*}*/

.THIS.scrollerSize {

    height: 200px;

}


.THIS .scrollableouterWrap {

}


.THIS div.posRelative {
    position: relative;
    width: 100%;
    height: 200px;
    /*border: 3px solid #73AD21;*/
}

.THIS div.posAbsolute {
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    height: 200px;
    /*border: 3px solid #73AD21;*/
}

.THIS .element, .THIS .outer-container {
    width: 650px;
    height: 200px;
}

.THIS .outer-container {
    border: 5px solid purple;
    position: relative;
    overflow: hidden;
}

.THIS .inner-container {
    position: absolute;
    left: 0;
    width: 650px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.THIS .inner-container::-webkit-scrollbar {
    display: none;
}






/*!* !important is needed sometimes *!*/
/*.THIS ::-webkit-scrollbar {*/
/*width: 12px !important;*/
/*}*/

/*!* Track *!*/
/*.THIS  ::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;*/
/*-webkit-border-radius: 10px !important;*/
/*border-radius: 10px !important;*/
/*}*/

/*!* Handle *!*/
/*.THIS ::-webkit-scrollbar-thumb {*/
/*-webkit-border-radius: 10px !important;*/
/*border-radius: 10px !important;*/
/*background: darkgrey !important;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;*/

/*}*/
/*.THIS ::-webkit-scrollbar-thumb:window-inactive {*/
/*background: #41617D !important;*/
/*}*/