.THIS h1{
    color:#014991 !important;
    font-size: 18px;
    margin-left: 15px;
    font-style: italic;
    font-weight:bold;
}

.THIS {
        background-color: white;
    }

.THIS .redStar{
    color:red !important;
}


.THIS .gridHeaderText {
    color: #ffffff;
    font-weight:bold;
}

.THIS .gridText {
    color: red;
}


.THIS .completedCheckbox {
    margin-left:27px;
}

.THIS .heightAjustmentP {
    margin-top: 28px;
}

.THIS .heightAjustment {
    margin-top: 27px;
}

.THIS .heightAjustmentA {
    /*margin-top: 5px;*/
    margin-top: 22px;
    /*margin-bottom:5%;*/
    /*margin-top: 100%;*/
    /*margin-bottom: 100%;*/
    /*color: red;*/
}

.THIS .container
{
    display: flex;
    align-items: left;
    justify-content: left;
}


.THIS .item
{
    /*background-color: #f3f2ef;*/
    border-radius: 3px;
    margin-bottom: 5px;

}
.THIS .dataGridHeaderText {
    color: white;
    /*margin-left:15px;*/
    font-family: 'Open Sans', sans-serif;
    /*font-size: 7px;*/
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 7px !important;


}
